%section.home
  .container
    %h1 Principales áreas de necesidad (ultimas 2 horas)
    %h3 Selecciona en la que tú puedes apuntarte a ayudar.
    .container-flex
      %span Filtrar por zonas:
      %form{onchange: "changeNeighborhood(this);", :data => ''}
        .custom-dropdown
          = select_tag "Todas", options_for_select(@status_options, @neighborhood&.titleize || "Todas"), {:class => "form-control"}

    .cards
      -@needs_counters.each_with_index do |counter, index|
        .card.bg_purple.modal-toggle-js
          - image = "icons/#{counter.need.parameterize}.svg"
          - if asset_exists?(image)
            .icon=image_tag(image)
          - else
            .icon=image_tag("icons/default.svg")
          %h4=counter.need.capitalize
          %p="#{counter.supporters_count} personas apoyando"
    %h3 Áreas con mayor número de voluntarios apuntados
    %p Si no puedes ayudar en las que necesitan más apoyo, pero puedes apoyar en éstas áreas, toda ayuda es bienvenida.
    .cards
      -@supporters_counters.each_with_index do |counter, index|
        .card.bg_purple.modal-toggle-js
          - image = "icons/#{counter.need.parameterize}.svg"
          - if asset_exists?(image)
            .icon=image_tag(image)
          - else
            .icon=image_tag("icons/default.svg")
          %h4=counter.need.capitalize
          %p="#{counter.supporters_count} personas apoyando"
